body{
font-family:Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#47484a;
color:white;
padding:20px;
text-align:center;
}

input{
padding:10px;
width:250px;
border:none;
border-radius:5px;
}

.container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:20px;
}

.card{
background:white;
width:250px;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#707173;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
}
